<div class="action">
	<div class="container">
		<div class="row">
			<div class="col s12">
			 <h5 class="center-align">Акция</h5>
				<div class="col s4">
					<h4 class="center-align">Оставьте заявку сейчас</h4>
					<h6 class="center-align">и получите бесплатную доставку по РФ*</h6>
					<div class="button">
						<a class="btn red waves-effect waves-light base-btn">Оставить заявку</a>
					</div>
					<p class="center-align">*При заказе от  10 000 руб</p>
				</div>
				<div class="col s4 center-align">
					<i class="icon-delivery"></i>
				</div>
				<div class="col s4">
<div class="ccounter">
<div class="title">До окончания акции осталось</div>
<input class="knob days" data-width="62"  data-min="0" data-max="365" data-displayPrevious=true data-fgColor="#da0b63" data-readOnly="true" value="1" data-bgcolor="#fff">
<input class="knob hour" data-width="62" data-min="0" data-max="24" data-displayPrevious=true data-fgColor="#da0b63" data-readOnly="true" value="1" data-bgcolor="#fff">
<input class="knob minute" data-width="62" data-min="0" data-max="60" data-displayPrevious=true data-fgColor="#da0b63" data-readOnly="true" value="1" data-bgcolor="#fff">
<input class="knob second" data-width="62" data-min="0" data-max="60" data-displayPrevious=true data-fgColor="#da0b63" data-readOnly="true" value="0" data-bgcolor="#fff">
</div>
<div class="days">
	<span>Дней</span>
	<span>Часов</span>
	<span>Минут</span>
	<span>Секунд</span>
</div>
				</div>
			</div>
		</div>
	</div>
</div>