<div class="action">
	<div class="container">
		<div class="row">
			<div class="col s12">
			 <h5 class="center-align">Акция</h5>
				<div class="col s4">
					<h4 class="center-align">Оставьте заявку сейчас</h4>
					<h6 class="center-align">и получите бесплатную доставку по РФ*</h6>
					<div class="button">
						<a class="btn red waves-effect waves-light base-btn">Оставить заявку</a>
					</div>
					<p class="center-align">*При заказе от  10 000 руб</p>
				</div>
				<div class="col s4 center-align">
					<i class="icon-delivery"></i>
				</div>
				<div class="col s4">
<div class="example" data-timer="900"></div>


				</div>
			</div>
		</div>
	</div>
</div>