<div class="more red base-btn">
	<div class="container">
		<div class="row">
			<div class="col s3">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s4 valign">
							<i class="icon-ghost"></i>
						</div>
						<div class="col s8 valign">
Строгое соответствие
размерной сетке ГОСТ
позволит Вам предлагать
своим клиентам
						</div>
					</div>
				</div>
			</div>
			<div class="col s3">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s4 valign">
							<i class="icon-manager"></i>
						</div>
						<div class="col s8 valign">
Персональные менеджеры 
всегда на связи и 
удовольствием помогут с 
выбором
						</div>
					</div>
				</div>
			</div>
			<div class="col s3">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s4 valign center">
							<i class="icon-tel_mg "></i>
						</div>
						<div class="col s8 valign">
Маркетинговая поддержка
в решении любых интересующих Вас вопросах
						</div>
					</div>
				</div>
			</div>
			<div class="col s3">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s4 valign">
							<i class="icon-tachka"></i>
						</div>
						<div class="col s8 valign">
							Помощь в подборе
актуального 
ассортимента
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>