<div class="position ">
	<div class="container">
			<h3 class="center">МЫ ПРОИЗВОДИМ БОЛЕЕ 2000 ПОЗИЦИЙ</h3>
			<div class="row">
				<div class="col s12">
					<div class="col s4 center">
						<div class="image">
							<img src="img/scool.png">
						</div>
						<span>Школьная форма</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/vodolaz.png">
						</div>
						<span>Водолазки, кофты</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/platya.png">
						</div>
						<span>Нарядные платья</span>
					</div>
				</div>
				<div class="col s12">
					<div class="col s4 center">
						<div class="image">
							<img src="img/footb.png">
						</div>
						<span>Футболки</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/costum.png">
						</div>
						<span>Спортивные костюмы</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/yasla.png">
						</div>
						<span>Ясельные комплекты</span>
					</div>
				</div>
				<div class="col s12">
					<div class="col s4 center">
						<div class="image">
							<img src="img/raspax.png">
						</div>
						<span>Ползунки, распашонки</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/belye.png">
						</div>
						<span>Нижнее белье</span>
					</div>
					<div class="col s4 center">
						<div class="image">
							<img src="img/djemper.png">
						</div>
						<span>Джемпера, толстовки</span>
					</div>
				</div>
			</div>
	</div>
</div>