<div class="quality">
	<div class="container">
		<h3 class="center">
			КАЧЕСТВО НАШЕЙ ОДЕЖДЫ
		</h3>
		<div class="row">
			<div class="col s6">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/fst.png">
						</div>
						<div class="col s10">
							100% турецкий хлопок. Никакой синтетики в нашей продукции. Мы сами производим его на фабрике в Турции. Качественные ткани обеспечивают изделию мягкость, лёгкость, в таких вещах очень уютно и комфортно.
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/scnd.png">
						</div>
						<div class="col s10">
							Надежные застежки удобны для малышей и мам, позволяют быстро переодевать  ребенка, не доставляя много хлопот.
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/thd.png">
						</div>
						<div class="col s10">
							Не линяет, не выцветает, не образовываются катышки. Даже при частых стирках в режиме «Кипячение»
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/frth.png">
						</div>
						<div class="col s10">
							Итальянское оборудование позволяет гарантировать высокое качество. Одежда не деформируется, не растягивается, надолго сохраняя первоначальную форму.
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/five.png" class="lft">
						</div>
						<div class="col s10">
Высококачественные швы, отличающиеся надёжностью и износостойкостью.
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="valign-wrapper">
						<div class="col s2 right-align valign">
							<img src="img/six.png">
						</div>
						<div class="col s10">
							Используем только гипоаллергенные материалы, это оптимальное решение для нежной детской кожи.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>