<div class="sale">
	<div class="container">
		<h3 class="center">
			Продать легко!
		</h3>
		<div class="row">
			<div class="col s2 center">
				<div class="image">
					<img src="">
				</div>
				<span>1</span>
			</div>
			<div class="col s2 center">
				<div class="image">
					<img src="">
				</div>
				<span>2</span>
			</div>
			<div class="col s2 center">
				<div class="image">
					<img src="">
				</div>
				<span>3</span>
			</div>
			<div class="col s2 center">
				<div class="image">
					<img src="">
				</div>
				<span>4</span>
			</div>
			<div class="col s2 center">
				<div class="image">
					<img src="">
				</div>
				<span>5</span>
			</div>
		</div>
	</div>
</div>