<div class="header__slider">
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="img/slide_1.png"> <!-- random image -->
                <div class="caption center-align">
                    <h3>Детская одежда из турецкого хлопка оптом от производителя</h3>
                    <h5>«Швейная Фабрика «Милый возраст»</h5>
                </div>
            </li>
            <li>
                <img src="img/slide_2.png"> <!-- random image -->
                <div class="caption center-align">
                    <h3>Детская одежда из турецкого хлопка оптом от производителя</h3>
                    <h5 >«Швейная Фабрика «Милый возраст»</h5>
                </div>
            </li>
            <li>
                <img src="img/slide_1.png"> <!-- random image -->
               <div class="caption center-align">
                    <h3>Детская одежда из турецкого хлопка оптом от производителя</h3>
                    <h5 >«Швейная Фабрика «Милый возраст»</h5>
                </div>
            </li>
            <li>
                <img src="img/slide_2.png"> <!-- random image -->
               <div class="caption center-align">
                    <h3>Детская одежда из турецкого хлопка оптом от производителя</h3>
                    <h5 >«Швейная Фабрика «Милый возраст»</h5>
                </div>
            </li>

        </ul>
        <a class="prev"></a>
        <a class="next"></a>
    </div>
</div>