<div class="zakaz">
	<div class="container">
		<h3 class="center">Как заказать товар для своего магазина?</h3>
		<div class="row">
			<div class="col s12 center">
				<img src="img/zagaz_img.png" alt="">
			</div>
			<div class="col s12 center">
				<div class="col s3 center"><span>Заявка </span>
Оставьте заявку на сайта
			</div>
			<div class="col s3 center"><span>Выбор товара </span>

Наш менеджер </br>
поможет вам подобрать </br>
актуальный ассортимент </br>
для магазина
			</div>
			<div class="col s3 center"><span>Доставка заказа</span>

Если нужного товара</br>
 нет на складе,</br>
мы изготовим его </br>
в кратчайшие сроки
			</div>
			<div class="col s3 center"><span>Старт продаж</span>
 
Мы помогаем в </br>
размещении рекламы </br>
для Вашего магазина, </br>
обеспечивая первые</br>
 продажи
			</div>
			</div>
			
		</div>
	</div>
</div>